body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1{
    color: #007bff;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-right: 30px;
    color: gray;
}

p{
    color:#666;
}

button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button2{
    background-color: red;
    color: white;
    padding: 20px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



buttom:hover{
    background-color: #0056b3;
}
